.get-involved-main-container{

    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    max-width: 100%;


}
.donate-form-container{

    width: 30%;
    padding: 10px;
    margin: 20px;
    max-width: 400px;

    form{

        display: flex;
        margin: 0px;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid black;
        width: 100%;
        height: auto;
        padding-bottom: 10px;

        
            button{

                background-color: #71b61b;
                margin: 10px 30px;
                padding: 10px;
                cursor: pointer;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                border-radius: 2px;
                border-color: #71b61b;
                color: #FFF;
                font-weight: bold;
                white-space: nowrap;
                font-family: sans-serif;
            }
        
    }

}

input {

    margin: 10px 30px;
    padding: 5px;
    background-color: #f3f3f3;
    border: 1px solid #b4b1b1;

    
}

h5{
    background-color: #9064bc;
    padding: 20px 30px;
    margin: 0px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;

}

.get-involved-text{


    width: 30%;
    padding: 10px;
    max-width: 400px;
    margin: 20px;

    img{

        width: 30px;
        height: 30px;
        position: relative;
        top: 27px; right: 20px;

    
    }
    
}

h3{

    margin-bottom: 5px;
    color: #2b2b2c;
}

p{

    margin: 0px;
    color: #7b7e88;
    

}

.input-group{

    display: flex;
    flex-direction: row;

    input{

        width: 80%;
        margin: 10px 0px 10px 0px !important;
    }
    .currency-prefix {

        width: 10%;
        margin: 10px 0px 10px 30px !important;
        background-color: #fff;
        text-align: center;
    }
    .currency-suffix {

        width: 12%;
        margin: 10px 30px 10px 0px !important;
        background-color: #fff;
        text-align: center;
        
    
    }

}

    /* Media query for smaller screens */
    @media only screen and (max-width: 768px) {
        .get-involved-main-container {
            flex-direction: column;
            align-items: center;
            padding: 30px;
    
    
        }
    
        .donate-form-container,
        .get-involved-text {
            width: 100%;
            max-width: none;
            margin: 10px;
        }
    
        .input-group {
            flex-direction: row;
        
        }

        p{
            width: 100%;
        }
    
    }











