<div class="get-involved-main-container">

  <div class="get-involved-text">
    <tr class="content">
      <td>
        <img src="assets/images/social-media-icon/student.png" alt="Student" />
      </td>
      <td>
        <h3>We Care Student Education</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero unde
          explicabo sunt aspernatur quo atque rerum velit, suscipit et earum.
        </p>
      </td>
    </tr>

    <tr class="content">
      <img src="assets/images/social-media-icon/first-aid-kit.png" alt="Student" />
      <td>
        <h3>Care Student Health</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quasi
          velit natus aperiam error? Vero.
        </p>
      </td>
    </tr>

    <tr class="content">
      <img src="assets/images/social-media-icon/mortarboard.png" alt="Student" />
      <td>
        <h3>We Care Student Education</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero unde
          explicabo sunt aspernatur quo atque rerum velit, suscipit et earum.
        </p>
      </td>
    </tr>

    <tr class="content">
      <img src="assets/images/social-media-icon/coin.png" alt="Student" />
      <td>
        <h3>100% Goes to the Field</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quasi
          velit natus aperiam error? Vero.
        </p>
      </td>
    </tr>
  </div>

  <div class="donate-form-container">
    <form action="">
      <h4>Enter the Amount for Donation</h4>
      <div class="input-group jc-center">
        <!-- <span class="currency-prefix" type="text" >$</span> -->
        <!-- <input type="text" value="$" class="currency-prefix">
        <input type="text" value="USD" class="currency-suffix"> -->
        <!-- <span class="currency-suffix">USD</span> -->
        <div class="d-flex jc-center"><input type="text" placeholder="Enter amount" /></div>
        <div class="d-flex jc-center pt-15"><input type="text" placeholder="Enter Full Name" /></div>
        <div class="d-flex jc-center pt-15"><input type="text" placeholder="Enter Email Address" />
        </div>
        <div class="d-flex jc-center pt-15"><input type="text" placeholder="Enter City" /></div>
        <div class="d-flex jc-center pt-15">
          <div class="form-donate-button"> Donate Now </div>
        </div>

      </div>
    </form>
  </div>

</div>