@import '/src/styles.scss';

.get-involved-main-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: baseline;
    font-family: Arial, sans-serif;
    gap: 50px;
}

.donate-form-container {
    width: 30%;
    padding: 10px;

    form {
        display: flex;
        margin: 0px;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #b9b9b9;
        width: 100%;
        height: auto;

        .form-donate-button {
            background-color: #71b61b;
            width: 80%;
            padding: 8px;
            text-align: center;
            cursor: pointer;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            border-radius: 2px;
            border-color: #71b61b;
            color: #FFF;
            font-weight: bold;
            white-space: nowrap;
            font-family: sans-serif;
        }

        .form-donate-button:hover {
            background: none;
            color: #282828;
            font-weight: normal;
            border: 1px solid #71b61b;
        }
    }

}

input {
    padding: 5px;
    background-color: #f3f3f3;
    border: 1px solid #b4b1b1;
}

h4 {
    background-color: #9064bc;
    padding: 10px 20px;
    margin: 0px;
    color: #fff;
}

.get-involved-text {
    width: 30%;
    padding: 10px;
    max-width: 400px;

    img {
        width: 30px;
        height: 30px;
        position: relative;
        top: 27px;
        right: 20px;
    }

}

h3 {
    color: #2b2b2c;
}

p {
    margin: 0px;
    color: #7b7e88;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    input {
        width: 80%;
        outline: none !important;
    }
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .get-involved-main-container {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .donate-form-container,
    .get-involved-text {
        width: 100%;
        max-width: none;
    }

    .input-group {
        flex-direction: column;
        padding: 20px 0px;
    }

    p {
        width: 100%;
    }
}