<div class="get-involved-main-container">
  <div class="donate-form-container">
    <form action="">
      <h5>Enter the amount for donation</h5>
      <div class="input-group">
        <!-- <span class="currency-prefix" type="text" >$</span> -->
        <input type="text" value="$" class="currency-prefix">
        <input type="text" placeholder="Enter amount" />
        <input type="text" value="USD" class="currency-suffix">
        <!-- <span class="currency-suffix">USD</span> -->
      </div>
      <input type="text" placeholder="Enter Full Name" />
      <input type="text" placeholder="Enter Email Address" />
      <input type="text" placeholder="Enter City" />
      <button> Donate Now </button>
    </form>
  </div>

  <div class="get-involved-text">
    <tr class="content">
      <td>
        <img
          src="assets/images/social-media-icon/student.png"
          alt="Student"
        />
      </td>
      <td>
        <h3>We Care Student Education</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero unde
          explicabo sunt aspernatur quo atque rerum velit, suscipit et earum.
        </p>
      </td>
    </tr>

    <tr class="content">
      <img
        src="assets/images/social-media-icon/first-aid-kit.png"
        alt="Student"
      />
      <td>
        <h3>Care Student Health</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quasi
          velit natus aperiam error? Vero. 
        </p>
      </td>
    </tr>

    <tr class="content">
      <img
        src="assets/images/social-media-icon/mortarboard.png"
        alt="Student"
      />
      <td>
        <h3>We Care Student Education</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero unde
          explicabo sunt aspernatur quo atque rerum velit, suscipit et earum.
        </p>
      </td>
    </tr>

    <tr class="content">
      <img
        src="assets/images/social-media-icon/coin.png"
        alt="Student"
      />
      <td>
        <h3>100% Goes to the Field</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quasi
          velit natus aperiam error? Vero.
        </p>
      </td>
    </tr>
  </div>
</div>
