    <div class="project-container">
    <h1>Our Project</h1>
    <div class="card-container">
    
      <div class="card" (click)="navigateToPage('page1')">
        <img src="src\assets\images\earth-responsibility.jpeg" alt="Image 1">
        <p>Card 1 Text</p>
      </div>
      <div class="card" (click)="navigateToPage('page2')">
        <img src="" alt="Image 2">
        <p>Card 2 Text</p>
      </div>
  

      <div class="card" (click)="navigateToPage('page3')">
        <img src="" alt="Image 3">
        <p>Card 3 Text</p>
      </div>
      <div class="card" (click)="navigateToPage('page4')">
        <img src="" alt="Image 4">
        <p>Card 4 Text</p>
      </div>
      <div class="card" (click)="navigateToPage('page5')">
        <img src="" alt="Image 5">
        <p>Card 5 Text</p>
      </div>
    </div>
  </div>
  