<div class="home-container">
  <div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 5</div>
      <img src="assets/images/carousel/1.jpeg" class="banner">
      <!-- <div class="text">Caption Text</div> -->
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 5</div>
      <img src="assets/images/carousel/2.jpg" class="banner">
      <!-- <div class="text">Caption Two</div> -->
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 5</div>
      <img src="assets/images/carousel/3.png" class="banner">
      <!-- <div class="text">Caption Three</div> -->
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">4 / 5</div>
      <img src="assets/images/carousel/4.png" class="banner">
      <!-- <div class="text">Caption Three</div> -->
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">5 / 5</div>
      <img src="assets/images/carousel/5.png" class="banner">
      <!-- <div class="text">Caption Three</div> -->
    </div>
  
    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
  
  </div>
  <!-- <br>
    
    <div style="text-align:center">
      <span class="dot" (click)="currentSlide(1)"></span> 
      <span class="dot" (click)="currentSlide(2)"></span> 
      <span class="dot" (click)="currentSlide(3)"></span> 
    </div> -->
  
  <div class="home-content">
    <div class="home-content-left">
     <h2> Serving Quality Education to 
      <span style="background: #71b61b;
      color: black;">1,600+</span> 
      Children throught PREMANUU FELLOWSHIP</h2>
    </div>
    <div class="home-content-right">
      Premanu Foundation, established in <b>2019</b> by two students from <b>TISS</b> (<i>Tata Institute of Social Sciences</i>), is a rapidly
      growing non-profit organization driven by a noble mission and unwavering commitment to child rights. In a remarkably
      short span of time, the organisation has made a significant impact, positively transforming the lives of over <b>29,000
        children.</b> While currently active in five states, our aspirations transcend geographical boundaries as we envision a
      future where our efforts know no bounds.
    </div>
  </div>
</div>