<div class="project-container">
    <h1>What We Do?</h1>
    <div class="card-container">
    
      <div class="card" (click)="navigateToPage('page1')">
        <img src="assets/images/our-work/ChildProtection.jpg" alt="Image 1">
        <p>Play2Learn-Toybank</p>
      </div>
      <div class="card" (click)="navigateToPage('page2')">
        <img src="assets/images/our-work/EarlyChildhood.jpeg" alt="Image 2">
        <p>Card 2 Text</p>
      </div>
  

      <div class="card" (click)="navigateToPage('page3')">
        <img src="assets/images/our-work/Education.jpg" alt="Image 3">
        <p>Card 3 Text</p>
      </div>
      <div class="card" (click)="navigateToPage('page4')">
        <img src="assets/images/our-work/HealthNutrition.jpg" alt="Image 4">
        <p>Card 4 Text</p>
      </div>
      <div class="card" (click)="navigateToPage('page5')">
        <img src="assets/images/our-work/Humanitarian.jpeg" alt="Image 5">
        <p>Card 5 Text</p>
      </div>
      <div class="card" (click)="navigateToPage('page6')">
        <img src="assets/images/our-work/Livelihood.png" alt="Image 6">
        <p>Card 6 Text</p>
      </div>
    </div>
  </div>
  
