.project-container {
    text-align: center;
    height: calc(100vh - 90px);
    overflow-y: auto;
    
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        cursor: pointer;
        max-width: 400px;
        max-height: 400px;
        img {
          max-width: 100%;
          height: auto;
          border-radius: 8px;
        }
  
        p {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
  