<div class="header">

    <div class="header-top-container">
      <div class="display-flex">
        <div class="pr">premanu@gmail.com</div>
        <div class="pl">+123 987 887 765</div>
      </div>
      <div class="display-flex">
        <div> <img src="assets/images/social-media-icon/facebook.png" alt="Facebook"> </div>
        <div><img src="assets/images/social-media-icon/instagram.png" alt="Instagram"></div>
        <div><img src="assets/images/social-media-icon/linkedin.png" alt="linkedin"></div>
        <div><img src="assets/images/social-media-icon/twitter.png" alt="twitter"></div>
      
      </div>
    </div>


  <div class="header-bottom-container">
  
    <div class="logo pm-color" [routerLink]="['/home']">PREMANU</div>
    <div class="display-flex">
      <div class="menu" [routerLink]="['/home']">Home</div>
      <div class="menu" [routerLink]="['/projects']">Projects</div>
      <div class="menu" [routerLink]="['/fellowship']">Fellowship</div>
      <div class="menu" [routerLink]="['/ourwork']">Our Work</div>
      <div class="menu" [routerLink]="['/aboutus']">About Us</div>
      <div class="menu" [routerLink]="['/getinvolved']">Get Involved</div>

    </div>
  
    <!-- <div class="donate-btn" [routerLink]="['/getinvolved']"><button class="d-btn">Get Involved</button></div> -->
  </div>
</div>


<!-- <app-carousel></app-carousel> -->
<router-outlet></router-outlet>