<div class="header">

    <div class="header-top-container">
      <div class="display-flex">
        <div class="pr">premanu@gmail.com</div>
        <div class="pl">+123 987 887 765</div>
      </div>
      <div class="display-flex">
        <div>icon1</div>
        <div>icon2</div>
        <div>icon3</div>
        <div>icon4</div>
      </div>
    </div>


  <div class="header-bottom-container">
  
    <div class="logo pm-color">PREMANU</div>
    <div class="display-flex">
      <div class="menu" [routerLink]="['/home']">Home</div>
      <div class="menu" [routerLink]="['/projects']">Projects</div>
      <div class="menu" [routerLink]="['/fellowship']">Fellowship</div>
      <div class="menu" [routerLink]="['/ourwork']">Our Work</div>
      <div class="menu" [routerLink]="['/aboutus']">About Us</div>
    </div>
  
    <div class="donate-btn"><button class="d-btn">Donate Now</button></div>
  </div>
</div>

<router-outlet></router-outlet>