.header-container {}

.headers {
    display: flex;
    justify-content: flex-end;
    background: #29cb8a;
    color: #fff;
    font-size: 18px;
}

.menu {
    padding: 12px;
    cursor: pointer;
}

.menu:hover {
    color: #020e0a;
}