<div *ngIf="!showSpinner  else showSpinnerTemplate" class="about-us-container">
    <!-- Main heading -->
    <h1>About Us</h1>
    <p class="m-0 px-15">{{allDefinitions}}</p>
  
    <!-- Vision heading -->
    <h2>Vision</h2>
    <p class="m-0 px-15">{{allVisions}}</p>
  
    <!-- Mission heading -->
    <h2>Mission</h2>
    <div class="mission-cards">
      <!-- First card -->
      <div class="mission-card" style="background-color: #2774f8;">
        <p>Organize all stakeholders on a single platform, including children, community people, local level committees, and institutions.</p>
      </div>
      <!-- Second card -->
      <div class="mission-card" style="background-color: #05b37b ;">
        <p>Educate and involve all stakeholders about child rights, challenges, and developmental barriers that children face.</p>
      </div>
      <!-- Third card -->
      <div class="mission-card" style="background-color: #6b14ca;">
        <p>Inspire all stakeholders to identify the challenges children face and work together to address those challenges.</p>
      </div>
    </div>
  
    <!-- Our Team heading -->
    <h2>Our Team</h2>
  
    <!-- First row of team cards -->
    <div class="team-row">
      <!-- Card 1 -->
      <div class="team-card">
        <div class="card-img-details">
        <div class="member-image">
            <img src="assets/images/about-us/Abid.png" alt="Abid">
        </div>
        <div class="social-icon">
            <p class="team-name">Abid Faheem</p>
            <p class="team-title">Founder &amp; CEO</p>

            <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
            <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
            <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
      </div>
    </div>
  </div>
      <!-- Card 2 -->

      <div class="team-card">
        <div class="card-img-details">
        <div class="member-image">
        <img src="assets/images/about-us/Mehreena.png" alt="Mehreena">
        </div>
        <div class="social-icon">
            <p class="team-name">Mehreena Manzoor</p>
            <p class="team-title">Director</p>

            <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
            <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
            <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
      </div>
    </div>

      <!-- Card 3 -->
      <div class="team-card">
        <div class="card-img-details">
        <div class="member-image">
        <img src="assets/images/about-us/Shrilekha.png" alt="Shrilekha">
      </div>
      <div class="social-icon">
          <p class="team-name">Shrilekha Gupta</p>
          <p class="team-title">Senior Program Consultant</p>

          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
      </div>
    </div>

      <!-- Card 4 -->
      <div class="team-card">
        <div class="card-img-details">
        <div class="member-image">
        <img src="assets/images/about-us/Gorakhnath.png" alt="Gorakhnath">
      </div>
      <div class="social-icon">
        <p class="team-name">Gorakhnath Singh</p>
        <p class="team-title">Senior Program Consultant</p>

        <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
        <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
        <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
       </div>
      </div>
    </div>
  </div>

    <!-- Second row of team cards -->
    <div class="team-row">
        <!-- Card 5 -->
        <div class="team-card">
          <div class="card-img-details">
          <div class="member-image">
          <img src="assets/images/about-us/Khushboo.png" alt="Khushboo">
        </div>
        <div class="social-icon">

          <p class="team-name">Khushboo Dixit</p>
          <p class="team-title">Senior Program Consultant</p>

          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
      </div>
    </div>

        <!-- Card 6 -->
        <div class="team-card">
          <div class="card-img-details">
          <div class="member-image">
          <img src="assets/images/about-us/Pooja.png" alt="Pooja">
        </div>
        <div class="social-icon">
          <p class="team-name">Pooja Joshi</p>
          <p class="team-title">Program Consultant</p>
          
          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
      </div>
    </div>

        <!-- Card 7 -->
        <div class="team-card">
          <div class="card-img-details">
          <div class="member-image"> 
          <img src="assets/images/about-us/Jyoti.png" alt="Jyoti">
        </div>
        <div class="social-icon">
          <p class="team-name">Jyoti Yadav</p>
          <p class="team-title">Program Consultant</p>

          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
      </div>
    </div>

        <!-- Card 8 -->
        <div class="team-card">
          <div class="card-img-details">
          <div class="member-image">
          <img src="assets/images/about-us/Shardool.png" alt="Shardool">
        </div>
        <div class="social-icon">
          <p class="team-name">Shardool</p>
          <p class="team-title">Program Consultant</p>

          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
      </div>
    </div>
  </div>

    <!-- Third row of team cards -->
    <div class="team-row">
        <!-- Card 9 -->
        <div class="team-card">
          <div class="card-img-details">
          <div class="member-image">
          <img src="assets/images/about-us/Khuloos.png" alt="Khuloos">
        </div>
        <div class="social-icon">
          <p class="team-name">Khuloos Khan</p>
          <p class="team-title">Senior Fellowship Consultant</p>

          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
      </div>
    </div>

        <!-- Card 10 -->
        <div class="team-card">
          <div class="card-img-details">
          <div class="member-image">
          <img src="assets/images/about-us/Vivek.png" alt="Vivek">
        </div>
        <div class="social-icon">
          <p class="team-name">Vivek Shahare</p>
          <p class="team-title">Senior Fellowship Consultant</p>

          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
     </div>
   </div>

        <!-- Card 11 -->
        <div class="team-card">
          <div class="card-img-details">
          <div class="member-image">
          <img src="assets/images/about-us/Afreen.png" alt="Afreen">
        </div>
        <div class="social-icon">
          <p class="team-name">Afreen Khan</p>
          <p class="team-title">Legal Consultant</p>

          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
      </div>
    </div>

        <!-- Card 12 -->
        <div class="team-card">
          <div class="card-img-details">
          <div class="member-image">
          <img src="assets/images/about-us/Farzan.png" alt="Farzan">
        </div>
        <div class="social-icon">
          <p class="team-name">Farzan Khan</p>
          <p class="team-title">Financial Consultant</p>

          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a> 
        </div>
      </div>
    </div>
  </div>

    <!-- Fourth row of team cards -->
    <!-- Card 13 -->
    <div class="team-row-single">
        <div class="single-card">
          <div class="card-img-details">
          <div class="member-image">
          <img src="assets/images/about-us/Atif.png" alt="Atif">
        </div>
        <div class="social-icon">
          <p class="team-name">Atif Azeez</p>
          <p class="team-title">IT Consultant</p>

          <a href="https://www.google.com"><img src="assets/images/about-us/facebook-app-symbol.png" alt="facebook"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/instagram .png" alt="instagram"></a>
          <a href="https://www.google.com"><img src="assets/images/about-us/linkedin.png" alt="facebook"></a>
        </div>
      </div>
    </div>
    
 </div>
</div>

<ng-template #showSpinnerTemplate>
  <app-spinner [loading]="showSpinner"></app-spinner>
</ng-template>
  